.body { margin: 0; overflow: hidden; background: rgb(255, 255, 255); }
.star {
  position: fixed;
  width: 5px;
  height: 5px;
  background: rgb(90, 6, 113);
  z-index: -1;
  top: 0;
  left: 0; 
  pointer-events: none;
}
.btn1{
    background-color: rgb(125, 28, 154);
    width: 25%;
    margin: 1%;
   padding: 3% 4%;
   border-radius: 10%;
   text-align: center;
   color: rgb(231, 205, 238);
   font: 1em sans-serif;
   cursor: pointer;
}
.btn2{
    background-color: rgb(156, 101, 181);
     width: 25%;
    margin: 1%;
   padding: 3% 4%;
   border-radius: 10%;
   text-align: center;
   color: rgb(247, 215, 252);
   font: 1em sans-serif;
   cursor: pointer;
}
